@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0px;
    padding: 0px;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

:root {
    --text--color--primary: #FFFFFF;
    --text--color--secondary: rgba(255, 255, 255, 0.5);
    --text--color--third: #E6533C;
    --text--size--regular: 1.125rem;
    --text--size--large: 2.25rem;
    --text--size--exlarge: 4.875rem;

}

/* shared styles */

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.bg-color {
    background-color: black;
}

.tem-text-color {
    color: white;
}

.btn-primary {
    height: 54px;
    width: 224px;
    padding: 16px 40px;
    border: none;
    border-radius: 42px;
    font-weight: 500;
    font-size: var(--text--size--regular);
    background-color: var(--text--color--third);
    color: var(--text--color--primary);
    line-height: 22px;
    cursor: pointer;
}

/* header section styles */
/* navbar styles start */
.header {
    background: linear-gradient(to top, rgba(119, 119, 119, 0), rgba(17, 17, 17, 1), rgba(119, 119, 119, 0));
}

.navbar {
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 57px;
    margin-bottom: 32px;
}

.navlogo {
    font-size: var(--text--size--large);
    font-weight: 700;
    font-style: italic;
    color: var(--text--color--third);
}

.nav-items {
    align-items: center;
    gap: 47px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 39px;
    padding: 12px 20px;
}

.nav-link {
    text-decoration: none;
    color: var(--text--color--primary);
    font-size: var(--text--size--regular);
}

.nav-icon {
    display: none;
    color: var(--text--color--primary);
    align-items: center;
}

.nav-icon>i {
    font-size: 24px;
}

#home {
    background-color: var(--text--color--third);
    border-radius: 46px;
    padding: 8px 12px;
}


/* responsive layout for mobile device */
@media screen and (max-width:576px) {

    /* responsive navbar start */
    .navbar {
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }

    .nav-items {
        display: none;
    }

    .nav-icon {
        display: contents;
    }

    .nav-icon>i {
        height: 24px;
        width: 24px;
    }

}

/* hero section styles start */

.hero-section {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 38px;
    gap: 90px;
}

.hero-contain {
    max-width: 50%;
    padding-right: 79px;
}

.hero-title {
    font-size: var(--text--size--exlarge);
    font-weight: 900;
    line-height: 120%;
    margin-top: 64px;
}

#shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    line-height: 120%;
}

.hero-text {
    font-size: var(--text--size--regular);
    color: var(--text--color--secondary);
    margin: 28px 0px;
}

.btn {
    gap: 20px;
}

.btn-download {
    height: 54px;
    width: 224px;
    padding: 16px 40px;
    border: 1px solid var(--text--color--primary);
    border-radius: 42px;
    font-weight: 500;
    font-size: var(--text--size--regular);
    background-color: transparent;
    color: var(--text--color--primary);
    line-height: 22px;
    cursor: pointer;
}

.video {
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    width: 206px;
    height: 96px;
    border: 1px solid var(--text--color--primary);
    margin-left: -113px;
    margin-top: -159px;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: var(--text--color--third);
    border-radius: 50%;
}

.free-vedio {
    justify-content: center;
    flex-direction: column;
    padding-left: 24px;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(20px);
    background-color: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    width: 193px;
    height: 98px;
    border: 1px solid var(--text--color--primary);
    margin-left: 230px;
    margin-top: -400px;
}

/* hero section resposive style */

@media screen and (max-width:576px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-contain {
        max-width: 80%;
        padding-right: 79px;
    }
}

/* main section style start */

/* change habits section style */

.change-your-habits {
    max-width: 80%;
    margin: 0px auto;
    margin-top: 100px;
    text-align: center;
}

.habit-tital {
    font-size: 3rem;
    margin-bottom: 14px;
    line-height: 120%;
}

.habite-text-container {
    max-width: 671px;
    text-align: center;
    margin: 0px auto;
}

.habit-text {
    font-size: 0.9rem;
    color: var(--text--color--secondary);
    line-height: 24px;
    letter-spacing: 0.3px;
}

.habits-card-containar {
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 58px;
    gap: 40px;
}

.habit-image {
    height: 180px;
    width: 180px;
    margin: 0px auto;
}

.habit-image>img {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.habits-item-taitle {
    text-transform: capitalize;
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 120%;
    margin-top: 30px;
}

.habit-text-container {
    max-width: 231px;
    text-align: center;
}

.habits-item-text {
    font-size: 0.9rem;
    line-height: 18px;
    letter-spacing: 0.3px;
    margin-top: 6px;
}

@media screen and (max-width:576px) {
    .habits-card-containar {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .habit-tital {
        font-size: 2rem;
    }

    .habit-text-container {
        margin: 0px auto;
    }

    .habits-item-text {
        text-align: center;
    }
}

/* run section style */
.run {
    width: 80%;
    margin: 0px auto;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 54px 39px 54px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
}

.run-container {
    max-width: 443px;
}

.run-taitle {
    font-size: 3rem;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 14px;
}

.run-text {
    color: var(--text--color--secondary);
    font-size: 0.9rem;
    margin-bottom: 34px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.run-image {
    width: 366px;
    height: 321px;
    background-image: url(../images/run.jpg);
    background-position: -592.626px -156.368px;
    background-size: 335.395% 258.887%;
    background-repeat: no-repeat;
    border-radius: 18px;
}

@media screen and (max-width:576px) {
    .run {
        max-width: 80%;
        flex-direction: column;
        text-align: center;
        margin: 0px auto;
        margin-top: 100px;
        gap: 31px;
    }

    .run-taitle,
    .run-text {
        text-align: left;
    }
}

/* footer section style start */

.footer {
    max-width: 100%;
    padding-top: 66px;
    padding-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {

    max-width: 80%;
    margin: 0px auto;
    margin-bottom: 59px;
    grid-template-columns: 2fr 1fr 1fr;
}

.fitness-heading {
    margin-top: 0px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 900;
    font-size: 4.13rem;
    color: var(--text--color--third);
}

.fitness-text {
    width: 80%;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.get-start-titale {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.footer-list-item {
    margin-bottom: 20px;
    font-size: var(--text--size--regular);
}


.footer-list {
    list-style: none;
    padding: 0;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.line {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0px auto;
}

.copy-right {
    margin-top: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* responsive footer style */

@media screen and (max-width:576px) {
    .footer {
        margin: 0 auto;
    }

    .footer-container {
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .fitness-text {
        width: 100%;
    }
}